<div class='container'>
<div id='upload-show'>
<%= form_tag import_path, multipart: true, contoller: :home, action: :import do %>
  <%= file_field_tag :file, required: true, class: 'btn-inverse btn pull-xs-right' %>
  <%= submit_tag "Import csv", class: 'btn-inverse btn'%>
  <% end %>
</div>
<div id='controls'>
<%= button_to 'Clear Tweets', root_path, method: :delete, class: 'btn-inverse btn float-left' %>
<%= link_to 'Reset Filters', root_path, class: 'btn-warning btn float-right' %>
<button id='filter-start' type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#filterModal">
  Filter
</button>
<br/><br/>
<div id='table-show'>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Tweets</th>
        <th class='text-center'><a class='arrow' href='#' id='tweet_type'>Type</a></th>
        <th class='text-center'><a class='arrow' href='#' id='language'>Language</a></th>
        <th class='text-center'><a class='arrow' href='#' id='score'>Score</a></th>
      </tr>
    </thead>
    <tbody id='search-results'>
      <% if Tweet.any? %>
      <%= render 'tweet' if @tweets %>
      <%= render 'modal' %>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
</div>
