<div class='container'>
<% if @tweets.empty? %>
<%= form_tag import_path, multipart: true do %>
  <%= file_field_tag :file, required: true, class: 'btn-inverse btn pull-xs-right' %>
  <%= submit_tag "Import Csv", class: 'btn-inverse btn'%>
  <% end %>
<% else %>
<%= button_to 'Clear Tweets', root_path, method: :delete, class: 'btn-inverse btn float-left' %>
<%= link_to 'Reset Filters', root_path, class: 'btn-warning btn float-right' %>
<button id='filter-start' type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#filterModal">
  Filter
</button>

<br/><br/>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Tweets</th>
        <th class='text-center'><a class='arrow' href='#' id='tweet_type'>Type</a></th>
        <th class='text-center'><a class='arrow' href='#' id='language'>Language</a></th>
        <th class='text-center'><a class='arrow' href='#' id='score'>Score</a></th>
      </tr>
    </thead>
    <tbody id='search-results'>
      <%= render 'tweet' %>
    </tbody>
  </table>
  <% end %>
</div>
<%= render 'modal' %>
