<div class='container'>
<h1>  </h1>
<% if @tweets.empty? %>
<%= form_tag import_path, multipart: true do %>
  <%= file_field_tag :file, required: true, class: 'btn-inverse btn' %>
  <%= submit_tag "Import Csv", class: 'btn-inverse btn'%>
  <% end %>
<% else %>
<%= button_to 'Clear Tweets', root_path, method: :delete, class: 'btn-inverse btn' %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Tweets</th>
        <th class='text-center'><a class='arrow' href='#' id='tweet_type'>Type</a></th>
        <th class='text-center'><a href='#' id='language'>Language</a></th>
        <th class='text-center'><a href='#' id='score'>Score</a></th>
      </tr>
    </thead>
    <tbody id='search-results'>
      <%= render 'tweet' %>
    </tbody>
  </table>
  <% end %>
</div>
