<h1> Import </h1>

<% if @tweets.empty? %>
<%= form_tag import_path, multipart: true do %>
  <%= file_field_tag :file, required: true %>
  <%= submit_tag "Import Csv"%>
  <% end %>
<% else %>
<%= button_to 'Clear Tweets', root_path, method: :delete %>
<ul>
<% @tweets.each do | tweet | %>
  <li><strong><%= tweet.tweet_type %></strong> - <%= tweet.tweet %> </li>
<% end %>
</ul>
<% end %>
