<div class='container'>
<h1> Import </h1>

<% if @tweets.empty? %>
<%= form_tag import_path, multipart: true do %>
  <%= file_field_tag :file, required: true %>
  <%= submit_tag "Import Csv"%>
  <% end %>
<% else %>
<%= button_to 'Clear Tweets', root_path, method: :delete %>

<h2>Tweets</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Tweet</th>
        <th>Type</th>
        <th>Language</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <% @tweets.each do | tweet | %>
      <tr>
        <td> <%= tweet.tweet %> </td>
        <td><%= tweet.tweet_type %></td>
        <td>dolor</td>
        <td>sit</td>
      </tr>
      <% end %>

    </tbody>
  </table>
<% end %>


</div>
